.card{
  border: 2px solid #000000;
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 600;
}

.product-list{
  display: flex;
  gap: 10px;
  
}